h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding-left: 0;
}
ul {
    list-style: none;
}
body {
    font-family: sans-serif;
    background-color: #fff;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
.header-logo {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 22px 148px;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav-list {
    width: 100%;
    max-width: 380px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 22px 560px;
}
.header-logo-text {    
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #173a56;
    margin-right: 237px;
 }