:root {
    --font-family: poppins, sans-serif;
    --background-button-dark: #02897a;
    --background-button-light: #fff;
    --color-button-light: #173a56;
    --color-button-dark: #fff;
    --border-button-light: 1px solid #bcd0e5;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding-left: 0;
}
ul {
    list-style: none;
}
body {
    font-family: sans-serif;
    background-color: #fff;
}
img {
    display: block;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #22343d;
    margin-bottom: 18px;
}
h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
}
h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
}
/* #region Header */
.header .container {
    display: flex;
    padding-left: 148px;
    padding-right: 148px;
    margin-bottom: 25px;
    border: 3px solid rgb(49, 48, 48);
}
.header-logo {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: 237px;
    padding: 24px 0;
}
.header-logo-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #173a56;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-nav-list {
    display: flex;
    gap: 30px;
}
.header-nav-list-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #22343d;
}
.header-nav-list-item-pr {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    color: #22343d;
}
.header-button-list {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: auto;
}
.header-button-s-in {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: var(--color-button-light);
    background: var(--background-button-light);
    font-size: 16px;
    font-weight: 600;
    display: block;
    min-width: 113px;
    height: 42px;
    border: var(--border-button-light);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 9px 0;
    cursor: pointer;
}
.header-button-s-up {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: var(--color-button-dark);
    background: var(--background-button-dark);
    font-size: 16px;
    font-weight: 600;
    display: block;
    min-width: 113px;
    height: 42px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 9px 0;
    cursor: pointer;
}
/* #endregion Header */
/* #region Work at the speed of thought */
.thought .container {
    display: flex;
    justify-content: space-between;
    padding-left: 148px;
    padding-right: 148px;
    height: 555px;
    margin-bottom: 100px;
    border: 3px solid rgb(49, 48, 48);
}
.thought-content {
    width: 465px;
    height: 331px;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
    border: 3px solid rgb(49, 48, 48);
}
.thought-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #22343d;
    margin-bottom: 45px;
}
.thought-button-list {
    display: flex;
    align-items: center;
    gap: 30px;
}
.thought-button-get_st {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--color-button-dark);
    background: var(--background-button-dark);
    display: block;
    min-width: 178px;
    height: 53px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.thought-button-tri {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 164px;
    height: 23px;
    border: none;
    background-color: var(--background-button-light);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color-button-light);
    cursor: pointer;
}
.thought-content-img {
    margin-top: auto;
    margin-bottom: auto;
    border: 3px solid rgb(49, 48, 48);
}
/* #endregion Work at the speed of thought */
/* #region Product was Built Specifically for You */
.product .container {
    margin-bottom: 50px;
    padding-left: 148px;
    padding-right: 148px;
    border: 3px solid rgb(49, 48, 48);
}
.product-title {
    text-align: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 534px;
}
.product-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.product-list-item {
    max-width: 255px;
}
.product-list-item-item {
    padding-top: 18px;
}
.product-list-item-title {
    text-align: left;
    margin-bottom: 13px;
}
.product-list-item-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #22343d;
}
.product-button {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--color-button-dark);
    background: var(--background-button-dark);
    display: block;
    min-width: 175px;
    height: 53px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}
/* #endregion Product was Built Specifically for You */
/* #region Management */
.management .container {
    display: flex;
    justify-content: space-between;
    padding-left: 148px;
    padding-right: 148px;
    height: 500px;
    margin-bottom: 100px;
    border: 3px solid rgb(49, 48, 48);
}
.management-content {
    width: 486px;
    height: 418px;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.management-content h3 {
    font-size: 16px;
}
.management-content h2 {
    margin-top: 8px;
    margin-bottom: 13px;
}
.management-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #22343d;
    margin-top: 12px;
}
.management-content-list-item h3 {
    font-size: 16px;
    line-height: 162%;
    margin-top: 30px;
}
.management-content-img {
    margin-top: auto;
    margin-bottom: auto;
    border: 3px solid rgb(49, 48, 48);
}
/* #endregion Management */
/* #region Customer Support */

.support .container {
    display: flex;
    justify-content: space-between;
    padding-left: 148px;
    padding-right: 148px;
    height: 500px;
    margin-bottom: 100px;
    border: 3px solid rgb(49, 48, 48);
}
.support-content-img {
    margin-top: auto;
    margin-bottom: auto;
    border: 3px solid rgb(49, 48, 48);
}
.support-content {
    width: 450px;
    height: 419px;
    margin-top: auto;
    margin-bottom: auto;
}
.support-content h2 {
    margin-top: 8px;
}
.support-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #22343d;
    margin-top: 25px;
}
.support-content-list {
    margin-top: 30px;
    margin-left: auto;
}
.support-content-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #22343d;
    margin-top: 25px;
}
/* #endregion Customer Support */
/* #region Collaborative */
.collaborative .container {
    display: flex;
    justify-content: space-between;
    padding-left: 145px;
    padding-right: 145px;
    height: 555px;
    margin-bottom: 150px;
}
.collaborative-content {
    width: 486px;
    height: 418px;
    margin-left: 0;
    margin-top: 41px;
    margin-bottom: 41px;
}
.collaborative-content h3 {
    font-size: 16px;
    margin-bottom: 8px;
}
.collaborative-content h2 {
    margin-bottom: 25px;
}
.collaborative-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #22343d;
    margin-bottom: 30px;
}
.collaborative-content-list-item h3 {
    font-size: 16px;
    line-height: 162%;
}
.collaborative-content-img {
    width: 540px;
    height: 500px;
}
/* #endregion Collaborative */